body {
	background: #606060 url(images/bg.jpg) repeat-y;	
}
h1 {
	font: italic 60px Georgia, Serif; color: #333; text-shadow: 0px 3px 1px #606060;
	margin: 30px 0 50px 0; text-align: center;
}
#centr {
	text-align: center; 
}

